<!--<header class="navbar navbar-static-top">-->
<!--<h2 class="bd-title" id="my-app-title">Angular Starter App</h2>-->
<!--<div ngbDropdown id="my-nav-menu">-->
<!--<button class="btn btn-outline-primary" id="dropdownMenu3" ngbDropdownToggle>Navigation Menu</button>-->
<!--<div class="dropdown-menu" aria-labelledby="dropdownMenu3">-->
<!--<button *ngFor="let view of views" [routerLink]="view.link" class="dropdown-item">{{view.name}}</button>-->
<!--</div>-->
<!--</div>-->
<!--</header>-->
<!--<router-outlet (activate)="activateEvent($event)" (deactivate)="deactivateEvent($event)"></router-outlet>-->
<!--<my-store-devtools *ngIf="showMonitor"></my-store-devtools>-->
<header>
  <div class="header-content">
    <h1>Ristorante Il Fornello</h1>
    <p style="padding:40px;"></p>
    <p>Simple, fresh ingredients, prepared and cooked with love and passion become<br> truly great dishes, from
      wood-oven baked Neapolitan style pizzas to pastas, entrees!</p>
  </div>
</header>


<section class="main-content">

  <article class="row">
    <div class="col-md-8">

      <h2>Fichipizza</h2>

      <p>A unique combination of Mediterranean and Italian pizza, topped with Mascarphone, proscuitto, figs, grando
        panado, honey and arugula.</p>

      <p><a href="#">More &raquo;</a></p>

    </div>
    <div class="col-md-4">

      <h3 class="text-center">Our Unique Culinary Creations</h3>

    </div>
  </article>
  <article class="row">

    <div class="col-md-4">
      <h3>This Month's Promotions</h3>
    </div>

    <div class="col-md-8">

      <h2>Weekend Grand Buffet</h2>

      <p>Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers, six main
        entrees and five choicest desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person </p>

      <p><a href="#">More &raquo;</a></p>

    </div>

  </article>
  <article class="row">
    <div class="col-md-8">
      <h2>Tommy McHugh</h2>
      <h4>Executive Chef</h4>
      <p>Award winning three-star Michelin chef with wide International experience having worked closely with whos-who
        in the culinary world, he specializes in creating mouthwatering Mediterranean-Italian experiences. </p>
      <p><a href="#">More &raquo;</a></p>
    </div>
    <div class="col-md-4">

      <p style="padding:20px;"></p>

      <h3>Meet our Culinary Specialists</h3>

    </div>
  </article>
  <article class="row">
    <ngx-datatable
      class="material col-md-12"
      [rows]="rows"
      [loadingIndicator]="loadingIndicator"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [reorderable]="reorderable">
      <ngx-datatable-column name="Name">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <strong>{{value}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Description">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <i>{{value}}</i>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Price">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div style="border:solid 1px #ddd;margin:5px;padding:3px">
            ${{value}}
            <div style="background:#999;height:10px" [style.width]="value + '%'"></div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <img [src]="row.url">
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </article>
</section>


<footer>

  <div>

    <div class="row">

      <div class="col-md-4">

        <h5>Links</h5>

        <ul class="footer-links">

          <li><a href="#">Home</a></li>

          <li><a href="#">About</a></li>

          <li><a href="#">Menu</a></li>

          <li><a href="#">Contact</a></li>

        </ul>

      </div>

      <div class="col-md-4">

        <h5>Our Address</h5>

        <address>

          214, King Street West<br>

          Downtown, Toronto<br>

          ONTARIO<br>

          Tel.: +416 1234 5678<br>

          Fax: +416 8765 4321<br>

          Email: <a href="mailto:ilfornello@food.net">ilfornello@food.net</a>

        </address>
      </div>
      <div class="col-md-4">
        <div style="padding: 40px 10px;">

          <a href="http://google.com/+">Google+</a>

          <a href="http://www.facebook.com/profile.php?id=">Facebook</a>

          <a href="http://www.linkedin.com/in/">LinkedIn</a>

          <a href="http://twitter.com/">Twitter</a>

          <a href="http://youtube.com/">YouTube</a>

          <a href="mailto:">Mail</a>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center text-gray-dark text-sm-center">© Copyright 2015 Ristorante Il Fornello</p>
      </div>
    </div>
  </div>
</footer>
